/* ---------- UNIVERSAL STYLES ---------- */

/* * {
    box-sizing: border-box;
} */

body {
    max-width: 1920px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #242424;
    text-align: center;
    text-decoration: none;
    background-color: hsl(274, 31%, 95%);
}

/* ---------- MEDIA QUERIES ---------- */

@media only screen and (max-width: 425px) {
 /* color: red*/
} 

@media only screen and (max-width: 375px) {
/* color: red*/
}

@media only screen and (max-width: 320px) {
/* color: red*/
}

/* ---------- HEADER STYLES ---------- */

.header-container {
    max-width: 1920px;
    padding: 1rem 3rem;

}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rosie-logo {
    width: 3rem;
    height: auto;
    transition: width 400ms;
}

.rosie-logo:hover {
    width: 2.75rem;
}

.header-container a {
    font-style: normal;
    color: hsl(9, 84%, 58%);
    transition: color 400ms;
    transition: font-style 400ms;
}

.header-container a:hover {
    font-style: italic;
    color: #d278ec;
}

#contact {
    font-weight: 700;
}


/* ---------- MEDIA QUERIES ---------- */

@media only screen and (max-width: 768px) {
/* color: red*/
}

@media only screen and (max-width: 425px) {
/* color: red*/
}

@media only screen and (max-width: 320px) {
/* color: red*/
}

/* ---------- ABOUT ME SECTION ---------- */

.about-me-container {
    width: 75%;
    margin: 2rem auto;
    /* border: 1px solid red;*/
}

.about-me-container h2 {
    font-size: 2rem;
    color: hsl(9, 84%, 58%);
    text-align: left;
    /* margin-top: 2rem;*/
    padding-left: 5rem;
}

.about-me {
    max-width: 1920px;
    display: flex;
    align-items: center;
    padding: 0 5rem;
    text-align: left;
}

.about-me p {
    padding-right: 5rem;
    text-align: left;
}

.about-me img {
    width: 22.5rem;
    border-radius: 4rem;
    height: auto;
}

/* ---------- PROJECTS FLEXBOX ---------- */

.project-container {
    max-width: 1920px;
}

.project-grid-container {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project h3 {
    margin-top: 2rem;
}

.project {
    margin: 1rem;
    padding: 1rem;
}

.project img,
.project p {
    width: 22.5rem;
    height: auto;
    transition: width 400ms;
}

.project img {
    border-radius: 4rem;
}

.project img:hover {
    width: 21rem;

}

/* ---------- MEDIA QUERIES ---------- */

@media only screen and (max-width: 768px) {
    .project img, .project p {
        width: 18rem;
        height: auto;
        font-size: 1rem;
    }

    .project {
        margin: 0.5rem;
        padding: 1rem;
    }
}

@media only screen and (max-width: 425px) {
    .project img, .project p {
        width: 23rem;
        height: auto;
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 375px) {
    .project img, .project p {
        width: 20rem;
        height: auto;
        font-size: 0.9rem;
    }
}


@media only screen and (max-width: 320px) {
    .project img, .project p {
        width: 15rem;
        height: auto;
        font-size: 0.75rem;
    }
}